tmdb:
  api_key: '<YOUR API KEY>'
  language: 'en'
  debug: false

input:
  extensions: '.*\.(mkv|mp4|avi)$'
  folders:
  - '<folder to scan>'
  ignored:
    - '<a regex>'

output:
  - target: '<target folder>'
    type: '<guessit type>'
    filters:
      <a field from tvdb response>: '<a regex>'
